@model WebbanBALO.Areas.Admin.Models.Framework.Themanh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Themanh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Upanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upanh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Maanh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
