@{
    ViewBag.Title = "About";
}
<title>Giới Thiệu - VCA</title>
<style>
    .ab1 {
       margin-top:30px;
        position: relative;
        width: 100%;
        height: 570px;
        background-image: url('../../Content/images/about-us-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .op1 {
        background-color: black;
        opacity: 0.7;
        width: 100%;
        height: 570px;
    }
    .text1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 230px;
    }
    .ab2 {
        margin-top: 20px;
        position: relative;
        width: 100%;
        height: 570px;
        background-image: url('../../Content/images/about-us-2.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .text2 {
        position: absolute;
        left: 22%;
        top: 30%;
        transform: translate(-50%, -50%);
        width: 35%;
        height:auto;
        border-style: solid;
        border-color: coral;
        border-width: 5px;
        background-color: #333;
        padding:10px;
    }
    .ab3 {
        margin-top: 20px;
        position: relative;
        width: 100%;
        height: 570px;
        background-image: url('../../Content/images/about-us-3.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .text3 {
        position: absolute;
        left: 77%;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 35%;
        height: auto;
        border-style: solid;
        border-color: coral;
        border-width: 5px;
        background-color: #333;
        padding: 10px;
    }
    .ab4 {
        margin-top: 20px;
        position: relative;
        width: 100%;
        height: 570px;
        background-image: url('../../Content/images/about-us-4.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .text4 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
        height: auto;
        border-style: solid;
        border-color: coral;
        border-width: 5px;
        background-color: #333;
        padding: 10px;
    }
    iframe{
        margin-top:20px;
    }
</style>
<div class="container">
    <div class="ab1">
        <div class="op1">

        </div>
        <div class="text1">
            <p style="text-align: center;"><span center="" style="font-family: 'Oswald', sans-serif; font-size:4em; color:#ffcc00; text-shadow: 0px 0px 15px #333;">TỔNG QUAN VỀ <strong style="        color: #3742fa;">VCA</strong></span></p>
            <p style="text-align: justify; padding:0 20px 0 20px; font-size:16px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">VCA.vn được thành lập năm&nbsp;2019, tiền thân là thương hiệu Thế Giới Ba Lô. VCA ra đời với mong muốn mang đến khách hàng sự tiện lợi trong việc di chuyển các vật dụng cá nhân thông qua các&nbsp;mẫu balo tuyệt đẹp được sản xuất kỹ càng từ kiểu dáng,&nbsp;chất lượng cho đến giá thành.</p> <br />
            <p style="text-align: justify; padding:0 20px 0 20px; font-size:16px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">Sau&nbsp;2 năm hoạt động, VCA đã sản xuất cung cấp nghìn sản phẩm đảm bảo chất lượng và dịch vụ Bảo hành TRỌN ĐỜI đến tay người tiêu dùng.</p>
        </div>
    </div>

    <div class="ab2">
        <div class="text2">
            <p style=""><font color="#ffcc00" face="Oswald, sans-serif"><span style="font-size: 52px;">SỨ MỆNH</span></font></p>
            <p style="text-align: justify; font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;"> <strong>Cung cấp Sản phẩm và Dịch vụ nhằm mang đến cho Khách hàng sự Tiện ích cũng như Phong cách thời trang đẳng cấp nhất!</strong></p>
            <p style="text-align: justify; font-size:14px;font-family:Tahoma,Geneva,sans-serif;color: rgb(255, 255, 255);">VCA Cam kết Phục vụ Khách hàng tốt nhất. Thông qua 5 Chính sách sau:</p>
            <p style="font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;► FreeShip Toàn Quốc - DÙ CHỈ 1 CÁI"</p>
            <p style="text-align: justify; font-size:14px;font-family:Tahoma,Geneva,sans-serif; color:#ffffff;">► Đổi trả 90 Ngày MIỄN PHÍ</p>
            <p style="font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">► Giao Hàng 30 Phút SIÊU TỐC (Nội thành Hà Nội)</p>
            <p style="font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">► Bảo Hành TRỌN ĐỜI Sản Phẩm</p>
        </div>
    </div>

    <div class="ab3">
        <div class="text3">
            <p style="    "><font color="#ffcc00" face="Oswald, sans-serif"><span style="font-size: 52px;">TẦM NHÌN</span></font></p>
            <p style="font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">Trở thành Thương hiệu Chuyên cung cấp các Balo, Cặp túi đẳng cấp nhất Việt Nam</p>
            <p style="font-size:14px;font-family:Tahoma,Geneva,sans-serif;color: rgb(255, 255, 255);">• Thời gian: 2025</p>
        </div>
    </div>

    <div class="ab4">
        <div class="text4">
            <p style="    "><font color="#ffcc00" face="Oswald, sans-serif"><span style="font-size: 52px;">GIÁ TRỊ CỐT LÕI</span></font></p>
            <p style="text-align: justify; font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">Thông Điệp VCA Nhắn Gửi Quý Khách Hàng:</p>
            <p style="text-align: justify; font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">► Để hiện thực được tầm nhìn và quyết tâm vươn xa, VCA buộc phải kinh doanh với tâm thế hết lòng phục vụ và tinh thần cho đi. Nhằm mang đến những sản phẩm chất lượng, giá thành thấp nhất cùng chế độ hậu mãi vượt sự mong đợi Quý khách hàng.</p>
            <p style="text-align: justify; font-size:14px;font-family:Tahoma,Geneva,sans-serif;color:#ffffff;">► Bên cạnh đó, VCA liên tục tối ưu chi phí hoạt động và áp dụng các phương pháp Marketing đơn giản - hiệu quả - tiết kiệm nhằm cho ra những Chương trình khuyến mãi kèm Quà tặng cho đi điên cuồng nhất từ trước đến nay.</p>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.668409052366!2d105.79430881476354!3d21.045949785989013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3adfc757c9%3A0x579278b4632b7fe5!2zMjM1IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBOZ2jEqWEgVMOibiwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1633346658235!5m2!1svi!2s" style="border:0; height:450px;width:100%; margin-bottom:30px;" allowfullscreen="" loading="lazy"></iframe>
</div>
